* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
a {
  text-decoration: none;
  color: #ED008C;
}
.box {
  width: 100%;
  background-color: #6ED9E9;
  padding: 10px;
  box-sizing: border-box;
}
.container {
  width: 1000px;
  background-color: #599CF2;
  border: 2px solid #4082D9;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 20px;
}
.container-navigation {
  width: 960px;
  height: 180px;
  background-color: #439CA2;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}
/* 第一个 内容 */
.container-navigation-list {
  position: absolute;
  left: 50px;
  top: 10px;
}
.container-navigation-list-link {
  text-decoration: none;
  color: #0000FF;
  font-weight: bold;
}
.container-navigation-img {
  width: 180px;
  height: 180px;
  float: right;
}
.container-navigation-img img {
  width: 100%;
  height: 100%;
}
.container-mainArticle {
  width: 960px;
  height: 380px;
  background-color: #3C90B2;
  margin: auto;
  margin-bottom: 20px;
}
.container-mainArticle-img {
  width: 300px;
  height: 220px;
  background-color: red;
  float: left;
}
.container-mainArticle-img img {
  width: 100%;
  height: 100%;
}
/* 第二个 标题 */
.container-mainArticle-title {
  position: relative;
  left: 25px;
}
.container-mainArticle-content {
  width: 935px;
  font-weight: bold;
  position: relative;
  left: 25px;
  top: 25px;
  line-height: 22px;
  font-size: 18px;
}
.container-subArticle {
  width: 960px;
  height: 570px;
  background-color: #3C90B2;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-subArticle-item {
  width: 300px;
  height: 550px;
  background-color: #83B6BA;
}
.container-subArticle-item-img1 {
  width: 150px;
  height: 150px;
  background-color: red;
  float: left;
  margin-right: 10px;
}
.container-subArticle-item-img1 img {
  width: 100%;
  height: 100%;
}
.container-subArticle-item-title {
  margin-bottom: 8px;
  margin-left: 5px;
}
.container-subArticle-item-content {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 5px;
}
.container-subArticle-item-img2 {
  width: 250px;
  height: 150px;
  margin-bottom: 25px;
}
.container-subArticle-item-img2 img {
  width: 100%;
  height: 100%;
}
.container-subArticle-item-img3 {
  width: 290px;
  height: 150px;
  background-color: red;
  margin: 5px 5px 10px 5px;
}
.container-subArticle-item-img3 img {
  width: 100%;
  height: 100%;
}
.container-subArticle-link {
  margin-left: 25px;
}
.container-subArticle-link-content {
  text-decoration: none;
}